<div
  class="card mt-5"
  style="
    width: 95%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  "
>
  <div class="card-body">
    <h2
      class="card-title text-center"
      *ngIf="miRol === 'Paciente' || miRol === 'Especialista'"
    >
      Mis turnos
    </h2>
    <h2 class="card-title text-center" *ngIf="miRol === 'Administrador'">
      Turnos
    </h2>
    <hr />
    <div>
      <div
        *ngIf="miRol === 'Paciente' || miRol === 'Administrador'"
        class="mb-4"
      >
        <label class="mb-2"> Buscar por especialidad o especialista </label>
        <input
          [(ngModel)]="filtro"
          (ngModelChange)="pacienteFiltrar()"
          class="form-control w-50"
          appEjercicioC
        />
      </div>
      <!-- pendiente filtro de especilista -->
      <div *ngIf="miRol === 'Especialista'" class="mb-4">
        <label class="mb-2"> Buscar por especialidad o paciente </label>
        <input
          [(ngModel)]="filtro"
          (ngModelChange)="especialistaFiltrar()"
          class="form-control w-25"
          appEjercicioC
        />
      </div>
      <table>
        <tr>
          <th>Horario</th>
          <th *ngIf="miRol === 'Paciente' || miRol === 'Administrador'">
            Especialista
          </th>
          <th *ngIf="miRol === 'Especialista' || miRol === 'Administrador'">
            Paciente
          </th>
          <th>Especialidad</th>
          <th>Estado</th>
          <th>Motivo</th>
        </tr>
        <tr *ngFor="let turno of turnos; let i = index">
          <!-- <!<td>{{turno.fecha.toDate() | date:'MM/dd HH:mm'}}</td> -->
          <td>{{ turno.fecha + " - " + turno.hora }}</td>
          <td *ngIf="miRol === 'Paciente' || miRol === 'Administrador'">
            {{ turno.especialista | doctor }}
          </td>
          <td *ngIf="miRol === 'Especialista' || miRol === 'Administrador'">
            {{ turno.paciente.nombre }}
            {{ turno.paciente.apellido }}
          </td>
          <td>{{ turno.especialidad }}</td>
          <td>{{ turno.estado | uppercase }}</td>
          <td class="tdMotivo">{{ turno.razon }}</td>
          <td *ngIf="turno.estado === 'reservado'">
            <button class="btn btn-danger" (click)="cancelarTurnoHandler(turno)">
              Cancelar
            </button>
          </td>
          <td *ngIf="(miRol === 'Paciente' && turno.reviewEsp) || (miRol === 'Especialista' && turno.reviewPac)">
            <button class="btn btn-info" (click)="verReviewHandler(turno)">
              Ver reseña
            </button>
          </td>

          <td *ngIf="turno.estado === 'realizado' && miRol === 'Paciente'">
            <button class="btn btn-outline-light"
            (click)="completarEncuestaHandler(turno)"
            >Completar encuesta</button>
          </td>
          <td *ngIf=" turno.estado === 'realizado' && miRol === 'Paciente' &&!turno.reviewPac">
            <button
              class="btn btn-outline-info"
              (click)="calificarAtencionHandler(turno)"
            >
              Calificar atención
            </button>
          </td>

          <td *ngIf="turno.estado === 'reservado' && miRol === 'Especialista'">
            <button
              class="btn btn-outline-danger"
              (click)="rechazarTurnoHandler(turno)"
            >
              Rechazar
            </button>
          </td>
          <td *ngIf="turno.estado === 'reservado' && miRol === 'Especialista'">
            <button
              class="btn btn-success"
              (click)="aceptarTurnoHandler(turno)"
            >
              Aceptar
            </button>
          </td>
          <td *ngIf="turno.estado === 'aceptado' && miRol === 'Especialista'">
            <button
              class="btn btn-light"
              (click)="finalizarTurnoHandler(turno)"
            >
              Finalizar
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <app-modal-turno
    *ngIf="turnoSeleccionado && estado == 'cancelar'"
    [data]="turnoSeleccionado"
    [estado]="estado"
    (closeModal)="cancelarTurnoHandler(null)"
  >
  </app-modal-turno>

  <app-modal-turno
    *ngIf="turnoSeleccionado && estado == 'resena'"
    [data]="turnoSeleccionado"
    [estado]="estado"
    (closeModal)="verReviewHandler(null)"
  >
  </app-modal-turno>

  <app-modal-turno
    *ngIf="turnoSeleccionado && estado == 'calificar'"
    [data]="turnoSeleccionado"
    [estado]="estado"
    (closeModal)="calificarAtencionHandler(null)"
  >
  </app-modal-turno>

  <app-modal-turno
    *ngIf="turnoSeleccionado && estado == 'encuesta'"
    [data]="turnoSeleccionado"
    [estado]="estado"
    (closeModal)="completarEncuestaHandler(null)"
  >
  </app-modal-turno>
  <!-- <app-cancelar-turno
        *ngIf="modoCancelar"
        [turno]="turnoSeleccionado"
        [rol]="miRol"
        (volver)="volverHandler()"
        (cancelar)="cancelarConfirmarHandler($event)"
    > -->
  <!-- </app-cancelar-turno>

    <app-rechazar-turno
        *ngIf="modoRechazar"
        [turno]="turnoSeleccionado"
        (volver)="volverHandler()"
        (rechazar)="rechazarConfirmarHandler($event)"
    >
    </app-rechazar-turno>

    <app-finalizar-turno
        *ngIf="modoFinalizar"
        [turno]="turnoSeleccionado"
        (volver)="volverHandler()"
        (finalizar)="finalizarConfirmarHandler($event)"
    >
    </app-finalizar-turno>

    <app-review
        *ngIf="modoReview"
        [turno]="turnoSeleccionado"
        [rol]="miRol"
        (volver)="volverHandler()"
    >
    </app-review>

    <app-calificar-atencion
        *ngIf="modoCalificarAtencion"
        (volver)="volverHandler()"
        (calificar)="calificarConfirmarHandler($event)"
    >
    </app-calificar-atencion> -->
</div>
