<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../../../../assets/icon-clinica.png" alt="" width="72" height="57">
        <h2>Clinica online</h2>
        <p class="lead">El sistema de turnos online es un software de agendamiento y
            administración que permite el control de las filas de atención en
            forma electrónica y con el envpio de mensajes automáticos.</p>
      </div>
      <div >
        <h4 class="border-bottom pb-2 mb-0">Alta de Usuarios</h4>
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="isClienteActive"
                  (click)="mostrarClienteComponent()"
                  >Paciente</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.active]="isProfesionalActive"
                  (click)="mostrarProfesionalComponent()"
                  >Profesional</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div *ngIf="isClienteActive">
              <app-alta-pacientes></app-alta-pacientes>
            </div>
            <div *ngIf="isProfesionalActive">
              <app-alta-profesionales></app-alta-profesionales>
            </div>
          </div>
        </div>
      </div>
</div>
