<div class="contenedor">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <h3 class="float-md-start mb-0">
        <img
          src="../../../assets/icon-clinica.png"
          alt="Bootstrap"
          width="50"
          height="50"
        />Clínica OnLine
      </h3>
    </header>
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="w-50">
        <h1>Clinica Online</h1>
        <p class="lead">
          El sistema de turnos online es un software de agendamiento y
          administración que permite el control de las filas de atención en
          forma electrónica y con el envpio de mensajes automáticos.
        </p>
        <p class="lead">
          <a  routerLink="/auth/login" class="btn btn-lg btn-secondary fw-bold border-white"
            >Acceder</a
          >
          <a  routerLink="/auth/register" class="btn btn-lg btn-secondary fw-bold border-white"
            >Registrate</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
